:root {
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

body {
    max-width: 1920px;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}
.site-logo > img {
    padding-right: 5px;
}

.request-quote {
    width: 200px;
    height: auto;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid white;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.request-quote:hover {
    background-color: white;
    color: black;
}
.site-menu {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 10px;
    
}
.site-menu > li > a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
}
header {
    background: url(../img/base.png);
    padding-bottom: 210px;
}

.banner > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #8b8c8c;
    text-align: center;
    padding-top: 210px;
}
.banner > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 76px;
    color: #ffffff;
    text-align: center;
    padding-top: 35px;
    width: 1050px;
    margin: 0 auto;
}
.content {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
    width: 910px;
    margin: 0 auto;
}
.claim-your-consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.claim-your-consultation > button {
    background-color: #12cf6a;
    width: 520px;
    height: 105px;
    border-radius: 30px;
    border: 10px solid #414242;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    transition-property: border;
    transition-duration: 0.5s;
    text-transform: uppercase;
}
.claim-your-consultation > button:hover {
    border: none;
}
#help-you {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #22d274;
    text-align: center;
    padding-bottom: 25px;
}
#testimonials > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: #000000;
    text-align: center;
    padding-bottom: 50px;
    width: 640px;
    margin: 0 auto;
}
#testimonials {
    background-color: white;
    margin-top: 140px;
    margin-bottom: 145px;
}
#testimonials > hr {
    width: 70px;
    height:  4px;
    background-color: #dcdddd;
    margin-bottom: 45px;
}
.about-us > p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #171818;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 45px;
}
.about-us {
    margin: 0 auto;
    width: 650px;
}

#macbook-iphone-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
#iphone {
    position: relative;
    bottom: -16px;
    right: 150px;
}

#services > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: #ffffff;
    padding-top: 140px;
    text-align: center;
}
#services > hr {
    width: 70px;
    height:  4px;
    background-color: white;
    margin-top: 45px;
    margin-bottom: 45px;
}
#services-info {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    width: 640px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.services-container {
    background-color: white;
    width: 330px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 65px;
    margin-left: 25px;
}
.services-container > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #171818;
    width: 170px;
    margin-left: 40px;
    padding-bottom: 40px;
}
.services-container > p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #171818;
    margin-left: 40px;
    width: 270px;
    padding-bottom: 50px;
}
.container-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 45px;
    padding-bottom: 150px;
}
.container-img {
    position: relative;
    bottom: 50px;
    left: 25px;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: -50px;
}
.container-img > img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#services > div > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #171818;
}
#services > div > p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #171818;
}
#services {
    background-color: #00b353;
}
#portfolio > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: #171818;
    margin-top: 150px;
    text-align: center;
}
#portfolio-info {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #171818;
    width: 500px;
    margin: 0 auto;
}
#portfolio {
    background-color: white;
    padding-bottom: 150px;
}
#portfolio > hr {
    width: 70px;
    height:  4px;
    background-color: #dcdddd;
    margin-top: 45px;
    margin-bottom: 45px;
}
#contact > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 35px;
    width: 640px;
    margin: 0 auto;
}
#contact > hr {
    width: 70px;
    height:  4px;
    background-color: #dcdddd;
    margin-top: 45px;
    margin-bottom: 45px;
}
#contact {
    background-color: #171818;
}
#contact > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input-style-name {
    background: url(../img/icon_profile.png) no-repeat;
    background-position: 20px 20px;
    width: 620px;
    height: 60px;
    border: 1px solid #515252;
    border-radius: 5px;
}
.input-with-icon input[type=text] {
    padding-left: 40px;
    padding-right: 15px;
    color: white;
}
::placeholder {
    color: white;
}
.input-style-email {
    background: url(../img/icon_email.png) no-repeat;
    background-position: 20px 20px;
    width: 620px;
    height: 60px;
    border: 1px solid #515252;
    border-radius: 5px;
}
.input-with-icon input[type=email] {
    padding-left: 40px;
    padding-right: 15px;
    color: white;
}
.input-with-icon {
    padding-bottom: 15px;
}
.how-we-can-help-you {
    background: url(../img/icon_question.png) no-repeat;
    background-position: 20px 20px;
    width: 620px;
    height: 215px;
    border: 1px solid #515252;
    border-radius: 5px;
}
.input-with-icon textarea {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 15px;
    color: white;
    resize: none;
}
.input:focus {
    outline: none !important;
    border: 1px solid white;
}
#footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 180px;
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
}
#social > a {
    padding-right: 29px;
    text-decoration: none;
    color: white;
}
#social > a:last-child {
    padding-right: 0px;
}
#footer-menu > ul {
    padding-left: 0px;
}